@font-face {
  font-family: "Rodondo";
  src: local("Rodondo"), url(./fonts/Rodondo.otf) format("opentype");
}

body {
  margin: 0;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #281f29;
  /* background-color: rgb(122, 122, 109); */
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
